[submodule "NCKUCTF_Courses/2024/Blockchain/smart-contract-common-vulnerability/lib/solmate"]
	path = NCKUCTF_Courses/2024/Blockchain/smart-contract-common-vulnerability/lib/solmate
	url = https://github.com/Rari-Capital/solmate
